# Exercices

## Exercice SVM (Titanic)

In [41]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

df = pd.read_csv('titanic.csv')
df = df[["pclass", "survived", "sex", "age", "fare", "embarked"]]
df = df.dropna()

gender_map = {'male' : 0, 'female': 1}
df["sex"] = df["sex"].map(gender_map)

X = df[["pclass", "sex", "age", "fare"]]
y = df.survived

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=df["sex"], random_state=42)

In [ ]:
# Codez la suite !

In [39]:
# Regardez l'accuracy avec un SVM linéaire classique et améliorez ce score en jouant avec les paramètres !

## Exercice ACP

In [1]:
# Codez ici

## Exercice Pycaret

Vous allez à présent détecter de faux billets !

Vous aurez à disposition un jeu de données contenant différentes variables :

1. **is_genuine** : target, nous dit si le billet est un vrai billet ou non.
2. **toutes les autres variables sont des tailles exprimées en cm**

1. Préparation des données

In [2]:
import pandas as pd
data = pd.read_csv("billets.csv", sep=";")
data

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,True,171.81,104.86,104.95,4.52,2.89,112.83
1,True,171.46,103.36,103.66,3.77,2.99,113.09
2,True,172.69,104.48,103.50,4.40,2.94,113.16
3,True,171.36,103.91,103.94,3.62,3.01,113.51
4,True,171.73,104.28,103.46,4.04,3.48,112.54
...,...,...,...,...,...,...,...
1495,False,171.75,104.38,104.17,4.42,3.09,111.28
1496,False,172.19,104.63,104.44,5.27,3.37,110.97
1497,False,171.80,104.01,104.12,5.51,3.36,111.95
1498,False,172.06,104.28,104.06,5.17,3.46,112.25
1499,False,171.47,104.15,103.82,4.63,3.37,112.07

2. Installez et Importez Pycaret

In [3]:
# Codez ici

3. Créez un environnement Pycaret

In [4]:
# Codez ici

4. Comparez les modèles et sélectionnez le meilleur

In [5]:
# Codez ici

5. Effectuez des prévisions sur vos données

In [6]:
# Codez ici

## Exercice SVM, K-NearestNeighbors, Naïve-Bayes et les méthodes Stochastiques

### Suite aux résultats obtenus grâce à Pycaret, essayez d'améliorer l'Accuracy et le F1 score des SVM en modifiant certains paramètres.

In [42]:
# Codez ici

### Suite aux résultats obtenus grâce à Pycaret, essayez d'améliorer le score de K-NN en modifiant certains paramètres.

In [8]:
# Codez ici

### Suite aux résultats obtenus grâce à Pycaret, essayez d'améliorer le score du modèle Naïve-Bayes en modifiant certains paramètres.

In [9]:
# Codez ici

### Faites de même pour les méthodes Stochastiques.

In [10]:
# Codez ici